<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 					https://www.springframework.org/schema/beans/spring-beans.xsd
 					http://www.springframework.org/schema/lang
 					https://www.springframework.org/schema/lang/spring-lang.xsd">

	<!-- <lang:groovy id="messenger"
		script-source="classpath:org/springframework/scripting/groovy/Messenger.groovy">
		<lang:property name="message"
			value="Fiona Apple Is Just So Dreamy." />

	</lang:groovy> -->

	<bean id="book1" class="org.peddi.spring.core.beans.factory.config.Book">
	</bean>
	<bean
		class="org.peddi.spring.core.beans.factory.config.InstantiationTracingBeanPostProcessor">
	</bean>


</beans> 